/* Container for the entire page */
.container {
  position: relative;
  min-height: 100vh;
}

.containerImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./../../public/bg.png');
  background-size: cover;  
  background-position: center; 
  opacity: 0.1;
}
/* Ensures content stays in front */
.content {
  position: relative;
  z-index: 10;
}

/* Main section layout */
.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 100px); /* Adjusts based on header/footer height */
}

/* Styling for the logo section */
.logoSection {
  /* image on same row */
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem; /* Adds spacing below the logo */
}

.logo {
  width: 100%;
  padding: 3%;
}

/* Search bar container */
.searchBarContainer {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto; /* Center the search bar horizontally */
}

/* Search icon styling */
.searchIcon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af; /* Matches the gray color of the search icon */
}

/* Search input field styling */
.searchInput {
  padding-left: 2.5rem; /* Space for the search icon */
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  border: 1px solid #e5e7eb; /* Light border */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* Subtle shadow */
  outline: none;
}

.searchInput:focus {
  border-color: #3b82f6; /* Blue border on focus */
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2); /* Blue shadow on focus */
}
