.navbar {
  width: 100%;
  background-color: #ffffff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  gap: 200px;
  border: 3px solid #e7ebf0;
}

.navMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navMenuList {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-left: 5%;
  padding-right: 5%;
}

.navMenuItemLink {
  padding: 5%;
}